
/* Footer */
footer {
    width: 100%;
    padding: 25px 0 0;
    text-align: left;
    margin-top: 80px;
    background: url(https://models.jayatibharat.com/uploads/service/1/big/74751popular-cat-img1.jpg) var(--blue);
    border-radius: 0;
    position: relative; 
    background-size: 100%;
    background-attachment: fixed;
    background-position: center bottom;
}
footer.footer:before {
    background: linear-gradient(45deg, #800404, black );
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
}


footer .row {
        justify-content: flex-start;
    }

.link-footer { 
    padding: 5px 13px; 
    color: var(--white);
    font-size: 15px;
    padding-left: 0;
}

.footer-bottom {
    border-top: 0px solid var(--white);
    padding: 0;
    margin-top: 0;
    padding-bottom: 10px; 
    position: relative;
}

    .footer-bottom small {
        font-size: 14px;
        color: var(--white);
        line-height: 22px;
    }

.sbx {
    margin: 0;
}

.social-icon {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
}

    .social-icon li {
        margin: 0 12px;
    }

        .social-icon li:first-child {
            margin-left: 0px;
        }

        .social-icon li a {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
}
a.link-footer:hover {
    text-decoration: none;
    color: #f9e7e7;
}
a.fb {
    background: #4267b2;
}

a.twit {
    background: #00acee;
}

.category-content h1 {
    color: var(--pink);
}

.social-icon li a img {
    height: 14px;
}

a.pt {
    background: #e60023;
}

.sbx .h4 {
    color: var(--white);
}

span.txtDanger {
    color: red;
    font-size: 13px;
}

.mobile-social-contact {
    display: none;
}

@media (max-width:1024px) {
    .textbox {
        max-width: 231.1px;
    }
}

@media (max-width:991px) {
    .detail-layout {
        flex-direction: column;
    }

    .detail-left {
        width: 100%;
        padding: 0;
        margin-bottom: 40px;
        min-height: auto;
    }

    .detail-right {
        min-height: auto;
        width: 100%;
        display: none;
    }

    .form-group.btnb {
        width: 11%;
    }

    .call-to-action .aa-link {
        width: 100%;
        max-width: 50%;
    }

        .call-to-action .aa-link:last-child {
            margin-bottom: 4px;
        }

    .staticpg-content {
        min-height: auto;
    }

    .detail-img-holder {
        margin-top: 0;
    }

    .stickymobile {
        background-color: #ffffff;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 10px 0;
        position: fixed;
        position: sticky !important;
        position: -webkit-sticky !important;
        right: 0;
        text-align: center;
        z-index: 1;
    }

    .mobile-social-contact .mhide {
        display: none;
    }

    .mobile-social-contact {
        width: 100%;
        display: block;
    }

        .mobile-social-contact .call-to-action .aa-link {
            margin-bottom: 0;
            margin-right: 12px;
        }

        .mobile-social-contact .call-to-action {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .mobile-social-contact .icon-phone {
            bottom: 0;
        }

        .mobile-social-contact .call-to-action .aa-link:last-child {
            margin-right: 0;
        }

    .textbox {
        max-width: 229.1px;
    }
}

@media(max-width:991px) and (min-width:768px)
{
    .col.listing {
    float: left;
    width: 27%;
    max-height: 196px;    overflow: hidden;
}
    .col.listing-desc {
    float: left;
    width: 73%;
    padding: 15px 15px;
}  

}
.btn-box-121 {
    margin-top: 28px;
	
}
#loginpagemyy .row {
    margin: 0 auto;
}
.seo-content.box-des .inner-box.seo-content-container .text-center {
    text-align: left;
}
@media (max-width:767px) {	
	.site-logo {
    padding-top: 0 !important;
    padding-bottom: 0px !important;
    margin-right: 1rem;
    font-size: 34px;
}
	.box.box-des.mypaddinghome {
    background: 0 0;
    padding: 0px 15px 25px;
    border-radius: 5px;
    width: 100%;
}
	.modal-content {
    border: 3px solid #b109098c;
    padding: 10px 15px 0px;
}
.modal-body p {
    font-size: 13px;
    line-height: 1.5;
    color: #333;
    padding-left: 27px;
    position: relative;
}
.modal-body p:before {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    background: url('https://models.jayatibharat.com/assets/img/arrow-icons.jpg');
    left: 0px;
    background-size: 100%;
    top: 2px;
}
.sidebtnnn {
    width: 80px;
    padding: 3px !important;
    font-size: 13px !important;
    font-weight: 500;
}
	article#mysignuppageee {
    margin-bottom: 70px;
}
div#loginwrapperrr {
    padding: 25px 15px;
}
.mybuttonloginnnn .col-md-4 {
    padding: 0px;
}
.mybuttonloginnnn input.btn.bg-nav1 {
    width: 100px;
}

	.login {
    border-radius: 20px 16px 20px 16px;
    width: 100%;
    border-top: 5px solid #bc0909;
    box-shadow: 0 3px 5px #bc0909;
    background: var(--white);
    padding: 30px 5px 30px;
    max-width: 600px;
    border-bottom: 5px solid #bc0909;
    min-height: 340px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}
     .siglepage-photos {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
	 .siglepage-photos.clearfix .col-md-4 {
    padding: 0px;
}

	 p.small {
    /* color: #000; */
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;
    font-family: sans-serif;
    font-size: 14px;
    letter-spacing: -.1px;
    word-spacing: 0;
    word-break: break-word;
    margin-top: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    max-height: 32px;
}

    footer .row {
    justify-content: center;
}
.social-icon li {
    margin: 0 5px;
}
.footer-top .col-md-6 {
    text-align: center;
    margin-bottom: 10px;
}
.footer-bottom {
    border-top: 0px solid var(--white);
    padding: 0;
    margin-top: 0;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
}

.row.vip-exclusive:before {
    background: url(../img/vip_exclusive.png) #ffffff;
    position: absolute;
    content: '';
    width: 73px;
    height: 16px;
    right: 14px;
    top: -9px;
    background-size: 100%;
    z-index: 1;
    background-repeat: no-repeat;
}

.row.vip:before {
    background: url(../img/vip.png) #ffffff;
    position: absolute;
    content: '';
    width: 64px;
    height: 14px;
    right: 14px;
    top: -8px;
    background-size: 100%;
    z-index: 1;
    background-repeat: no-repeat;
}


.filtermyy .inner-box-title.h2 {    font-size: 21px;}.filtermyy .row.mt10 {    margin: 0 auto;}.filtermyy .inner-box-title {    padding-bottom: 14px;    border-bottom: 1px solid #8181814a;    color: var(--pink);    font-size: 20px;    line-height: 24px;    font-weight: 500;    width: 99%;    margin: 0 auto 12px;}
    a.whatsapp:hover, a.phone:hover {
        border: 1px solid #dd1c1c;
        /* padding: 7px 10px !important; */
        border-radius: 5px;
        color: #dd1c1c;
        text-transform: uppercase;
        /* font-size: 13px !important; */
        margin: 0 5px;
        text-decoration: none;
        padding: 0px 3px;
        border-radius: 5px;
        /* color: #b91414; */
        text-transform: uppercase;
        font-size: 10px;
        margin: 0 1px;
    }
    p.single-para {
    line-height: 1.8;
    letter-spacing: .5px;
    color: #333;
    font-size: 13px;
}
    .call-to-action {
    width: 100%;
    max-width: 100%;
}
    a.phonenumbershowdetails.aa-link.whatsapp-link {
    background: #e92727;
    box-shadow: #e92727 0 3px 15px inset;
    font-size: 12px;
    border-radius: 5px;
    width: 100% !important;
    max-width: 100% !important;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 0px 5px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 0px solid #ddd;
}
.call-to-action li {
    text-align: center;
    list-style: none;
    float: left;
    width: 48%;
    margin: 0 0%;
}
    a.aa-link.call-link {
    background: #099914;
    box-shadow: #17a723 0 3px 15px inset;
    font-size: 12px;
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
}
    .call-to-action>li:nth-child(3), .action-for-mobile .call-to-action>li:first-child {
    display: block;
    border-bottom: 0 solid #ddd;
    width: 100%;
    text-align: left;
}
    ul.share-cl-icon {
    max-width: 100px;
    margin: 0 auto;
}
    .share-cl-icon li:first-child {
    display: block !important;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
}
    .siglepage-photos.clearfix img.img-fluid {
    margin-bottom: 20px;
}
    .callcontent.py-4 {
    margin: 30px auto;
    max-width: 100%;
    text-align: center;
}
    .callcontent.py-4 .col-md-12.text-center {
    width: 100%;
}
    .report-abuse-listing {
    padding: 15px 20px 2px;
    border: 1px solid #af0c0c73;
    border-radius: 8px;
    margin: 30px 0 0;
    /* background: #eee; */
}
    ul.share-cl-icon li {
    display: inline-block;
    margin: 5px 0;
    width: 50px;
    text-align: left; 
}
    footer .row {
    margin: 0 auto;
}
    p {
    font-size: 14px;
    line-height: 24px;
    color: var(--gray2);
    margin-bottom: 12px;
    /* text-align: justify; */
}
.container.px2 h1 {
    font-size: 16px;
    line-height: 1.4;
}
/* .container.px2 {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;
} */
h1.singletitle {
    margin-bottom: 8px;
}

    footer {
    width: 100%;
    padding: 20px 0 0;
    text-align: left;
    margin-top: 40px;
    background: var(--blue);
    border-radius: 0;
    position: relative;
}
  #profiles-container .row.item {
    background: #ffffff;
    border-radius: 8px;
    padding: 0;
    border: 0 solid #9191912e;
    /* border-left: 1px solid #9191912e; */
    margin: 20px 0;
    /* border-bottom: 4px solid #91919159; */
    box-shadow: 0 5px 5px $999;
    box-shadow: 0px 0px 1px 1px #dfdfdf;
}


    .col.listing {
    float: left;
    width: 35%;
    max-height: 160px !important;    overflow: hidden;
}
#profiles-container .carousel-inner>.item>a>img, #profiles-container .carousel-inner>.item>img {
    line-height: 1;
    max-height: 157px;
    min-height: 170px;
} 




     span.glyphicon.glyphicon-chevron-right, span.glyphicon.glyphicon-chevron-left {
    font-size: 13px;
    font-weight: normal;
    margin-top: -22px;
    background: #0404044a;
    padding: 3px;
    border-radius: 50%;
}

 .col.listing-desc {
    float: left;
    width: 60%;
    padding: 6px 10px;
}
 p.listing-title {
    margin-bottom: 7px;
}
.card-body p.listing-title a {
    font-size: 12px;
    text-decoration: none;
    color: #bf0b0b;
    margin-top: 0px !important;
    display: block;
    font-weight: 500; 
    letter-spacing: .1px;
    line-height: 1.4;
    margin-bottom: 0px;
    /* color: #333333e0; */
    /* height: 34px !important; */
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
 p.small { 
    font-size: 11px;
    letter-spacing: .1px; 
    line-height: 1.4;
    margin-bottom: 0px;
    color: #333333e0; 
    height: 34px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
 p.tagcard {
    font-size: 10px; 
    margin: 6px 0;
}
 span.notranslate {
    font-size: 10px;
}
.row.mt-5 {
    display: block;
}
 p.listing-text {
    display: none;
}
 .social-media.text-right {
    /* text-align: right; */
    /* margin-top: 10px; */
    text-align: right;
    margin-top: 14px;
    display: flex;
    justify-content: flex-end;
}
 a.whatsapp, a.phone {
    border: 1px solid #b9141499;
    padding: 0px 3px;
    border-radius: 5px;
    color: #b91414;
    text-transform: uppercase;
    font-size: 10px;
    margin: 0 1px;
}
 a.whatsapp i, a.phone i {
    margin-right: 3px;
    font-size: 13px;
}


    .mhide {
        display: none;
    }

    .md3 {
        width: 100%;
    }

    .footer-bottom small {
        font-size: 14px;
    }

    .link-footer {
        font-size: 14px;
        padding: 5px 4px;
    }

    .social-icon li a {
    width: 40px;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
}

    .top-navbar {
        justify-content: space-between;
    }

    .menu-tigger {
        display: block;
        position: relative;
        z-index: 3;
        margin-left: 20px;
    }
    /*.head-navbar{text-align:center;padding-top:80px;position:absolute;-webkit-transform:translate(-100%);transform:translate(-100%);right:0;left:0;background:var(--blue);height:100vh;-webkit-transition:.3s;transition:.3s;opacity:0;width:100%;top:0;z-index:2}
    */

    .head-navbar {
    text-align: center;
    padding-top: 15px;
    position: absolute;
    -webkit-transform: translate(100%);
    transform: translate(100%);
    right: 0;
    left: 4%;
    background: #7c0309;
    /* height: 100vh; */
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 0;
    width: 92%;
    top: 70px;
    z-index: 9;
    border-radius: 0 0 10px 10px;
    border-bottom: 3px solid #b90e16;
}
    .navbar-links li a {
    padding: .85rem 1rem;
    font-weight: 400;
    color: var(--white);
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: none;
}


        .head-navbar.res-menu {
            -webkit-transform: translate(00%);
            transform: translate(00%);
            opacity: 1;
        }

    .navbar-links {
        flex-direction: column;
    }

        .navbar-links li.active a, .navbar-links li:hover a {
            background: 0 0;
        }

        .navbar-links li a {
            padding: 0;
        }
        /*  .navbar-links li{margin:14px 0}*/

        .navbar-links li {
            margin: 0;
            text-align: left;
            padding-left: 42px;
            text-transform: uppercase;
            border-bottom: 1px dashed #eeeeee1a;
            padding: 12px 25px;
        }
		.navbar-links li:hover {
    margin: 0;
    text-align: left;
    padding-left: 42px;
    text-transform: uppercase;
    border-bottom: 1px dashed #eeeeee1a;
    padding: 12px 25px;
    background: #ff88881f;
}

    .search {
        position: relative;
        width: 39px;
        height: 28px;
        margin: 0px auto;
        text-align: center;
        padding: 4px 0;
        cursor: pointer;
       /* display: none;*/
    }

    .search_circle {
        width: 16px;
        height: 16px;
        border: 4px solid var(--darkblue);
        border-radius: 50%;
    }

    .search_rectangle {
        position: absolute;
        left: 11px;
        bottom: 6px;
        width: 10px;
        transform: rotate(45deg);
        height: 5px;
        border-radius: 6px;
        background: var(--darkblue);
    }

    .mobheader {
        display: flex;
        align-items: center;
    }

    .item-content .h5 {
        font-size: 14px;
        padding-bottom: 4px;
        overflow: hidden;
    }

    .top-head-section {
        padding: 8px 0;
    }

    .detail-img-holder {
        min-height: auto;
    }

    .filter-box {
        padding: 8px 8px 6px 8px;
    }

    .popular-cate-card {
        width: 100%;
        margin-bottom: 30px;
    }

    .form-group.btnb {
        width: 100%;
    }

    .form-group.md4 {
        margin-bottom: 12px;
    }

    .gallery-section {
        column-count: 1;
    }

    .textbox {
        max-width: 50%;
    }
}

@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width:768px) {
	.navbar-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 9px;
}
.navbar-links li a {
    padding: .85rem 1.5rem;
    font-weight: 500;
    color: var(--white);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: #800404;
    border-radius: 5px;
    margin-right: 10px;
}
    .container {
        max-width: 720px;
    }

    .md4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 28.533333%;
        flex: 0 0 28.533333%;
        max-width: 28.533333%;
    }

    .dhide {
        display: none;
    }

    .box-des {
        padding: 1px;
    }

    .inner-box {
        padding: 7px 0;
    }

    .head-navbar {
        display: block;
    }

    .filter-box .row {
        flex-direction: row;
        justify-content: space-between;
    }

    .top-search-filter-section {
        display: block;
    }
}
.filter-box .btn {
    width: 100%;
    padding: 12px !important;
    font-size: 15px;
}
.filter-box .btn:hover {
    width: 100%;
    padding: 12px !important;
    font-size: 15px;
	color:#fff;
}
form#search-form .form-group {
    margin-bottom: 0 !important;
}
.loginpg .form-control {
    display: block;
    width: 100%;
    height: 44px !important;
    padding: 10px 12px !important;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    margin-bottom: 0px !important;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #ccc !important;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
.form-control {
    display: block;
    width: 100%;
    height: 44px !important;
    padding: 10px 12px !important;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    margin-bottom: 0px !important;
    background-color: #ffffff;
    background-image: none;
    border: 0px solid #ccc !important;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
.loginpg .form-control { 
    border: 1px solid #ccc !important; 
}
input#keyword:focus {
    box-shadow: none;
}

@media (min-width:992px) {
    .container {
        max-width: 960px;
    }

    .textbox a {
        font-size: 16px;
    }

    .h1, h1 {
        font-size: 24px !important;
    }

    .h2, h2 {
        font-size: 20px;
    }

    .h3, h3 {
        font-size: 16px;
    }

    .h4, h4 {
        font-size: 14px;
    }

    .h5, h5 {
        font-size: 12px;
    }

    .md4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 29.433333%;
        max-width: 29.433333%;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1200px;
    }
}
