*{
    margin: 0; 
    padding: 0;
  }
  body{
    font-family: Poppins;
    color: #000;
  }
  p{
    font-size: 17px;
  }
  a, a:hover{
    text-decoration: none;
  }
  .navbar-light .navbar-nav .nav-link{
    color: rgba(0,0,0,.9);
  }
  .navbar-expand-lg .navbar-collapse{
    justify-content: end;
  }
  .main_menu{
    background: #fff;
    padding: 0;
  /*  margin-bottom: 20px;*/
    border-bottom: 1px solid #dee5ef;
  }
  .main-content{
      margin: 40px 0;
  }
  .bg-light{
    background: #fff;
    padding: 10px 0;
  }
  .main_menu_bar{
    margin-right: 20px;
  }
  .left_sidebar_panel {
      background: #027998;
      padding: 45px 0;
      border-radius: 20px!important;
  }
  .sidebar_menu li.active a:before {
      content: "";
      background: url(images/tab-top-after.png) no-repeat;
      width: 20px;
      height: 20px;
      background-size: 100% 100%;
      position: absolute;
      bottom: 100%;
      right: 0;
  }
  .sidebar_menu li.active a:after {
      content: "";
      background: url(images/tab-bottom-after.png) no-repeat;
      width: 20px;
      height: 20px;
      background-size: 100% 100%;
      position: absolute;
      top: 100%;
      right: 0;
  }
  .sidebar_menu li a {
      padding: 14px 14px;
      position: relative;
      display: block;
      color: #fff;
      display: flex;
      align-items: center;
  }
  .sidebar_menu li a i {
      font-size: 18px;
      margin-right: 8px;
  }
  .user_login_img {
      width: 60px;
      margin: 0 auto 10px;
      border-radius: 15px;
      overflow: hidden;
      border: 1px solid #fff;
  }
  .user_login_name {
      margin-bottom: 30px;
  }
  .user_login_name span {
      color: #fff!important;
  }
  .profile_panel {
      text-align: center;
  }
  .sidebar_menu li.active a {
      background: #fff;
      color: #027998;
  }
  .sidebar_menu li:hover{
      margin-left: 10px;
      transition: all 300ms ease;
  }
  .sidebar_menu li{
      transition: all 500ms ease;
  }
  .nav-link i.fa{
    background: #004658;
    padding: 10px;
    color: #fff;
    border-radius: 50%;
  }
  .profile_bg{
    background: url(images/dd-profile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 50px 30px;
    background-position: center;
    border-radius: 30px;
  
  }
  .white-text{
    color: #fff;
  }
  .blue-text{
    color: #004658;
  }
  .profile_name{
    font-weight: 500;
  }
  .heading_profile{
    font-weight: 600;
  }
  .mt-20{
    margin-top: 20px;
  }
  .grey_bg{
    background: #004658;
  }
  .credit_coin ul {
      padding: 35px 30px;
      display: flex;
      margin-bottom: 0;
      align-items: center;
      flex-wrap: wrap;
  }
  .credit_coin ul li {
      width: 33%;
  }
  ul li{
    list-style: none;
  }
  .custom-btn {
      background-image: linear-gradient(to right,#027B9A,#004658);
      cursor: pointer;
      color: #fff!important;
      font-weight: 700;
      letter-spacing: 1px;
      text-decoration: none;
      display: inline-block;
      padding: 10px 20px;
      text-align: center;
      border-radius: 10px;
  }
  .custom-btn:hover {
      background-image: linear-gradient(to right,#004658,#027B9A);
          text-decoration: none;
  }
  
  .credit_ad_item {
      background: #22bae161;
      border: 1px solid #22bae161;
      overflow: hidden;
      margin-bottom: 30px;
      border-radius: 0 0 20px 20px;
  }
  .right_top {
      border-radius: 20px;
  }
  .credit_ads_title {
      font-size: 22px;
      font-weight: 900;
      text-transform: uppercase;
      padding: 20px 30px;
      border-radius: 20px 20px 0 0;
  }
  .credit_coin ul li:nth-child(2) {
      padding-right: 50px;
      text-align: center;
  }
  .credit_count{
    font-size: 30px;
      font-weight: 900;
  }
  .ads-grapsh-panel ul {
      display: flex;
      padding: 38px 30px;
      margin: 0;
  }
  .ads-grapsh-panel ul li:first-child {
      width: 34%;
      text-align: left;
  }
  .ads-grapsh-panel ul li {
      width: 22%;
      text-align: center;
  }
  .total_ad_number {
      font-size: 17px;
      font-weight: 600;
  }
  .ads-grapsh-panel ul li h6 {
      font-size: 13px;
      margin-bottom: 3px;
      margin-top: -5px;
      font-weight: 600;
  }
  .total_ads {
      background: #fff;
      width: 92px;
      margin: auto;
      padding: 17px 0;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .verifyed-ads {
      margin-left: 4px;
  }
  .verifyed-ads .fa-check {
      color: #12b71e;
  }
  .right_bottom{
    background: #c4247c7d;
    border-radius: 20px;
  }
  .verifyed-ads .fa-arrow-up {
      color: #e15257;
  }
  .right_bottom .credit_ads_title {
      background: #E22BB2;
      border-bottom: 1px solid #e6d1db;
  }
  .credit_ads_title h3{
    color: #fff;
  }
  /*footer {
      position: relative;
      padding: 38px 0;
      border-top: 1px solid rgba(0,0,0,.1);
  }
  footer .footer_container {
      max-width: 100%;
      margin: auto;
      padding: 0 15px;
  }
  .footer_menu {
      margin-bottom: 20px;
  }
  .footer_menu ul {
      text-align: center;
      margin: 0;
      padding: 0;
  }
  .footer_menu ul li {
      padding: 0;
      position: relative;
      margin-right: 12px;
      display: inline-block;
  }
  .footer_menu ul li a {
      font-size: 14px;
      line-height: 1.2;
      color: #6a6a6a!important;
      cursor: pointer;
      font-weight: 400;
  }
  .footer_menu ul li:after {
      content: "|";
      margin-left: 12px;
  }
  .footer_menu ul li:last-child::after {
      content: "";
      margin-left: 0;
  }
  footer .social_links {
      display: flex;
      margin: 0;
      justify-content: center;
      padding: 0;
  }
  footer .social_links li {
      margin-left: 15px;
  }
  .social_links li a {
      font-weight: 600;
      text-decoration: none;
      display: flex;
      align-items: center;
  }
  */


  /*FOOTER*/
footer {
    width: 100%;
    padding: 25px 0;
    text-align: left;
    margin-top: 80px;
    background: url(https://models.jayatibharat.com/uploads/service/1/big/74751popular-cat-img1.jpg) #800404;
    border-radius: 0;
    position: relative;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center bottom;
}
footer.footer:before {
    background: linear-gradient(45deg, #800404, black );
    content: center ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
}
footer .row {
    justify-content: flex-start;
}
.link-footer {
    padding: 5px 13px;
    color: #fff;
    font-size: 15px;
    padding-left: 0;
}
.social-icon {
    list-style: none;
    display: inline;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
}
.social-icon li:first-child {
    margin-left: 0px;
}
.social-icon li {
    margin: 0 12px;
}
a.fb {
    background: #4267b2;
}
.social-icon li a {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
}
.social-icon {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
}
.social-icon li {
        margin: 0 12px;
    }

        .social-icon li:first-child {
            margin-left: 0px;
        }

        .social-icon li a {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
}
a.link-footer:hover {
    text-decoration: none;
    color: #f9e7e7;
}
a.twit {
    background: #00acee;
}
a.pt {
    background: #e60023;
}
.footer-bottom small {
    font-size: 14px;
    color: #fff;
    line-height: 22px;
}



/*FOOTER*/
  /*Ads Listing CSS*/
  
  .item_card {
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 17px;
      margin-bottom: 20px;
      background-color: #fff;
      border: 1px solid #c3c3c3;
  }
  .item_card .item_image_top {
      position: relative;
      width: 190px;
      min-width: 190px;
  /*    height: 196px;*/
      min-height: 196px;
      overflow: hidden;
      background-size: cover;
      background-position: 50%;
  }
  .item_card .item_image_top>img {
      position: absolute;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
  }
  .pramotion-exppg .item_card .item_containers {
      cursor: auto;
  }
  .item_card .item_containers {
      padding: 15px 20px 10px 25px;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      display: flex;
      cursor: pointer;
  }
  .item_card .item_card-container {
      -ms-flex: 1;
      flex: 1;
      -webkit-box-orient: horizontal;
      -ms-flex-direction: row;
      flex-direction: row;
      position: relative;
      word-wrap: break-word;
      word-break: break-word;
  }
  .item_card .item_heading {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      padding-right: 5px;
      max-width: calc(100% - 5px);
  }
  .item_title {
      font-size: 18px;
      line-height: 22px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      padding-top: 3px;
      margin-bottom: 6px;
  }
  .item_title a {
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      color: #004658;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
  }
  .pramotion-exppg .item_description {
      -webkit-line-clamp: 1;
      max-height: 23px;
  }
  .item_description {
      font-size: 14px;
      letter-spacing: -0.1px;
      word-spacing: 0;
      word-break: break-word;
      margin-top: 0;
      word-wrap: break-word;
      overflow-wrap: break-word;
      overflow: hidden;
      max-height: 45px;
      overflow: hidden;
      margin-bottom: 7px;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 2;
  }
  .ads_my_row {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
  }
  .admycal {
      width: 100%;
  }
  .cat_items span {
      margin-right: 4px;
      font-weight: 400;
      position: relative;
      color: #201f1f!important;
  }
  .cat_items span:after {
      margin-left: 4px;
      vertical-align: top;
      content: '|';
      display: inline-block;
      margin-top: -1px;
      color: #201f1f;
      font-weight: 700;
  }
  .email_published {
      font-weight: 600;
      margin-top: 3px;
  }
  .email_published span {
      color: #027998!important;
  }
  .edit_delete_btns a {
      font-weight: 500;
      color: #505052!important;
      margin-right: 39px;
      margin-top: 4px;
      display: flex;
      align-items: center;
  }
  .edit_delete_btns a i {
      color: #027998;
      font-size: 15px;
      margin-right: 5px;
  }
  .edit_delete_btns a span {
      color: #505052!important;
      font-size: 14px;
      font-weight: 600;
  }
  .pramotion-exppg .proceed-btn {
      background: #c11768;
      color: #fff!important;
      padding: 11px 17px;
      display: inline-block;
      font-size: 12px;
      letter-spacing: .5px;
  }
  .edit_delete_btns li{
      list-style: none;
  }
  .cat_items span:last-child:after {
      content: "";
  }
.followuss{
    color: #fff;
}
.cart-pg-masti_club .free-ad-white-bg-first {
    min-height: auto;
}

.post-ads-section.cart-pg-masti_club {
    background: #cbd2dc;
}

.cart-pg-masti_club .free-ad-white-bg {
    padding: 20px 30px
}
.post-ads-section {
    background: #fff;
    padding: 4rem 0;
    margin-top: -1px
}
.free-ad-white-bg-first {
    background: #fff;
    padding: 45px;
    min-height: 300px
}

.free-ad-white-bg-first p {
    margin-bottom: 5px
}
.free-ad-white-bg .free-ad-white-bg-first {
    background: #eaedf1
}
.cart-pg-masti_club .free-ad-white-bg-first {
    min-height: auto;
}
.free-ad-title-row {
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start
}

.free-ad-title-row span {
    font-size: 20px;
    font-weight: 900;
    color: #004759!important;
    text-transform: uppercase
}

.free-ad-title-row h2 {
    font-size: 20px;
    font-weight: 900;
    color: #c11768!important;
    text-transform: uppercase;
    margin: 0
}

.free-ad-bg-new {
    min-height: auto;
    background: #eaedf1;
    padding: 45px;
    border: 1px solid #fff
}

.free-ad-title-row>span>i {
    margin-right: 8px;
    font-size: 25px
}

.free-ad-white-bg-first p {
    margin-bottom: 5px
}
.cart-tabel .table thead th,.cart-tabel .table tbody td {
    border-bottom: 1px solid #fff;
    padding: 20px 30px;
    vertical-align: middle
}
.cart-tabel .payment-details-table .table thead th,.cart-tabel .payment-details-table .table tbody td {
    border: 1px solid #fff;
    padding: 20px 30px;
    vertical-align: middle
}
.free-ad-white-bg {
    background: #eaedf1;
    padding: 45px;
    border: 1px solid #fff;
    height: 100%
}
.payment-form {
    margin-left: -6px;
    margin-right: -6px;
    margin-top: 20px
}
.payment-form .errors_display {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 9px;
    margin-bottom: 12px
}
.free-ad-white-bg .payment-form input,#exp_month,#exp_year {
    height: 50px;
    border: 1px solid #ccd2dc;
    border-radius: 0
}
.order-panel span {
    color: #027b9a!important;
    font-size: 19px;
    font-weight: 900;
    text-transform: uppercase
}
.order-panel {
    color: #4c4c4c;
    font-size: 19px;
    font-weight: 900
}
div#purchaseRecord .free-ad-title-row,div#purchaseRecord .order-panel {
    margin-bottom: 15px!important
}
.total-prices {
    font-size: 27px;
    font-weight: 900;
    color: #4c4c4c!important;
    text-transform: uppercase;
    padding: 22px 0;
    display: inline-block
}
.tb-price-panel .total-prices {
    padding: 20px 0
}
.moreinfo-with-call {
    display: flex;
    align-items: center;
    margin-top: 50px
}
.cls-left {
    background-color: #0c4ea4;
    background-image: linear-gradient(to right,#027b9a,#004759);
    width: 150px;
    border: 2px solid #cbd2dc;
    padding: 29px
}
.cls-right {
    border: 2px solid #cbd2dc;
    padding: 23px;
    height: 125px
}
.support-blue {
    background: #004759;
    color: #fff!important;
    padding: 3px 8px 5px;
    font-size: 13px;
    border-radius: 6px
}
.support-blue:hover,.support-pink:hover {
    color: #fff!important
}
.cls-right p{
    font-size: 14px;
}
.blue-g-btn.proceed-to-pay-btn {
    padding: 18px 36px;
    font-size: 20px;
    text-transform: uppercase
}
.blue-g-btn {
    background-color: #004759;
    background-image: linear-gradient(to right,#004759,#027b9a);
    cursor: pointer;
    color: #fff!important;
    font-weight: 700;
    letter-spacing: 1px;
}
.email-help-box {
    background-color: #0f5aad;
    background-image: linear-gradient(#027b9a,#004759);
    border: 2px solid #1b7fcc;
    text-align: center;
    padding: 36px 0;
    margin-top: 50px
}

.email-help-box p {
    color: #fff!important;
    font-size: 16px
}

.email-help-box h4 {
    color: #fff;
    font-size: 25px;
    font-weight: 600
}

.email-help-box p a {
    background: #800404;
    color: #fff;
    padding: 6px 9px;
    display: inline-block;
    border-radius: 5px;
    font-size: 14px;
    line-height: 14px
}